<footer>

		<div class="footer">
			<div class="container">
				<div class="row footer-inner" style="
				margin-bottom: 0px;
			">
					<!--  first column -->
					<div class="col-sm-4">
						<h6> <strong> QUICK LINKS </strong></h6>
						<hr>
						<div class="row">
							<div class="col-xs-6 col-sm-6">
								<p><a href="">History</a> </p>
								<p><a href="">Admission Process</a> </p>
								<p><a href="">FAQ</a></p>

							</div>

							<div class="col-xs-6 col-sm-6">
								<p><a href="">Curriculum</a> </p>
								<p><a href="">Boarding</a> </p>
								<p><a href="">Plan a visit</a></p>

							</div>

						</div>
						<br>
					</div>


					<!-- second column -->
					<div class="col-sm-4 ">

						<h6><strong> CONNECT WITH US</strong></h6>
						<hr>

						<p>Follow us on social media for all latest news.</p>
						<p>Click below to connect with us</p>
						<a href="https://www.facebook.com/Alexandrialanguageschool/"> <img src="../../resources/images/facebook.png" style="width:30px;height:30px;"></a>
						<a href=""> <img src="../../resources/images/twitter.png" style="width:25px;height:25px;"></a>
						<a href=""> <img src="../../resources/images/instagram.png" style="width:30px;height:30px;"></a>
						<a href=""> <img src="../../resources/images/Youtube.png" style="width:25px;height:25px;"></a>
						<p> </p>

					</div>


					<!-- third column -->
					<div class="col-sm-4">

						<h6><strong>NEWSLETTER SUBSCRIPTION</strong></h6>
						<hr>

						<form>
							<div class="form-group row">
								<div class="col-sm-9">
									<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="margin-top: 19px;"
									 placeholder="Enter email">
								</div>
								<div class="col-sm-3">
									<br>
									<button type="submit" class="btn btn-danger" style="margin-left: -15px;margin-right:5px;">Submit</button>
								</div>
								<br>
								<small id="emailHelp" class="form-text text-muted" style="margin-left: 15px;"><br>We'll never share your email
									with anyone else.</small>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>

		<div class="footeri">
			<div class="container">
				<div class="row footer-inner-inner" style="
				margin-bottom: 0px;
			">

					<!--  first column -->
					<div class="col-sm-8" style="text-align: left;">
						<p>Phone - <a href="tel:+20033308555">+20-03-330 85 55</a> &nbsp;
							Phone - <a href="tel:+20033307554">+20-03-330 75 54</a> &nbsp;
							Email - <a href="mailto:admin@als-schools.org">admin@als-schools.org</a> &nbsp;
							- &nbsp;<a href="/contact-us">Map</a></p>

					</div>
					<!-- second column -->
					<div class="col-sm-4">
						<p style="text-align: right;">&copy;&nbsp;Alexandria Language Schools</p>
					</div>
				</div>

			</div>

		</div>

	</footer>