<html>

<head>
	<title>ALS</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="../styles/navbar.css">
	<link rel="stylesheet" type="text/css" href="../styles/template.css">
	<link rel="stylesheet" type="text/css" href="../styles/footer.css">

</head>

<body>

	<div style="border-bottom: 3px solid red;background-color: white;">
		<nav class="navbar navbar-expand-lg navbar-light navbar-design container ">

			<a class="navbar-brand" href="../index.html"><img src="../resources/images/ALSlogo.png" style="height:50px;width:55px;"></a>
			<div style="margin-right: -100px;">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
				 aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
				<ul class="navbar-nav">
 <li class="nav-itempos-navbar ">
				        <a class="nav-link a-pad home-navbar pos-navbar" href="../index.html" >Home <span class="sr-only">(current)</span></a>
				      </li>

				       <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle a-pad pos-navbar navbar-activeitem"  href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          Academics
				        </a>

				        <div class="dropdown-menu" style="float:left;" aria-labelledby="navbarDropdownMenuLink">
				          <a class="dropdown-item" href="academics.html">Overview</a>
                            <a class="dropdown-item" href="#">Junior</a>
                            <a class="dropdown-item" href="#">Middle</a>
                            <a class="dropdown-item" href="#">Senior</a>
				        </div>
				      </li>

                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle a-pad pos-navbar"  href="admission-process.html" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Admission
                        </a>

                        <div class="dropdown-menu" style="float:left;" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="admission-process.html">Requirements</a>
                            <a class="dropdown-item" href="#">Admission Process</a>
                            <a class="dropdown-item" href="#">Open Mornings</a>
                            <a class="dropdown-item" href="#">Apply Now</a>
                        </div>
                      </li>

				      <li class="nav-item">
				        <a class="nav-link a-pad pos-navbar" href="gallery.html" >Gallery</a>
				      </li>

				      <li class="nav-item">
				        <a class="nav-link a-pad pos-navbar" href="contact-us.html" >Contact us</a>
				      </li>

				     

				</ul>
			</div>
		</nav>
	</div>


	<img class="image" src="../resources/images/academics.jpg">

	<div class="admissionbox">
		<div class="container">
			<p class="admission">Admission > <span style="color:green;" id="pagingBar">Overview </span></p>
		</div>
	</div>


	<div class="container">
		<div class="row box">
			<div class="col-4 tabs">
				<div class="list-group" id="list-tab" role="tablist">
					<a class="list-group-item list-group-item-action anchors active" id="OverviewButton">Overview</a>
					
					<a class="list-group-item list-group-item-action anchors" id="JuniorButton">Junior</a>
					<a class="list-group-item list-group-item-action anchors" id="MiddleButton" href="open-mornings.html">Middle</a>
						<a class="list-group-item list-group-item-action anchors" id="SeniorButton">Senior</a>
					
				</div>
				<hr>
				<div class="logos">
					<a href=""><img src="../resources/images/fb.png"></a>
					<a href=""><img src="../resources/images/twittersq.png"></a>
					<a href=""><img src="../resources/images/youtubesq.png"></a>

				</div>
			</div>
			<div class="col-8" id="JuniorTab" style="display:none;">
				<div class="row text">
					<h4 class="header-admission">Programme</h4>
					<br>
					<p>The Junior School at Alexandria Language School in Dubai encompasses Grade 1-5, ages 6 – 10. Students in the Primary School follow the IB Primary Years Programme (PYP), a curriculum framework that is learner-centred, inquiry driven, concept-based and transdisciplinary. Our approach provides multiple points of entry for students and gives the teachers plenty of chance for small group and one-to-one facilitation. Learning through inquiry allows plenty of opportunities for personalizing learning while building the cognitive, social and emotional, and communication skills necessary for success, in school and life. Inquiry capitalizes on natural curiosity, guides activities and makes learning authentic. Our learners are busy making meaning of their world in significant, relevant, engaging and universal contexts.</p>
					<br>

					<h4 class="header-admission">Taught Subjects</h4>
					<br>
					<p>The following language proficiency levels are minimal indicative requirements
							at the start of the school year for admission to the respective bilingual grades:</p>

						<ul>
							<li>Language arts</li>
							<li>Mathamtics</li>
							<li>Science</li>
							<li>Arabic</li>
							<li>Islamic Studies</li>
							<li>P.E</li>
							
						</ul>
						<br><div>
					<h4 class="header-admission">Assessment</h4>
					
					<p>Assessment involves the gathering and analysis of information about student performance and informs practice. It identifies what students know, understand, can do and feel at different stages of the learning process. Particular learning outcomes on which we intend to report are selected prior to designing the method of assessment. We consider the variety of ways that individual students understand experience. Self-assessment and reflection are given importance. All stakeholders including administrators, parents, teachers and students should have a clear understanding of the reason for the assessment, what is being assessed, the criteria for success and the method by which the assessment is made. Both the process and the product of inquiry are evaluated. Records are maintained of inquiries initiated by students, looking for an increase in the substance and depth of student questions.</p>
					<br>
</div>
				</div>
			</div>

			<div class="col-8" id="applyNowTab" style="display:none;">
				<div class="row text">
					<div class="col-2">
						<img src="../resources/images/registration-form-top.png" class="images-open-mornings">
					</div>
					<div class="col-10">
						<h3>Registration Form</h3>
						<br>
						<a class="btn btn-success" href="#" role="button">Download form</a>
						<hr>

					</div>
					<div class="col-2">
						<img src="../resources/images/registration-form-bottom.png" class="images-open-mornings">
					</div>
					<div class="col-10">
						<h3>Online Form </h3>
						<form>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="surname">Surname</label>
									<input type="text" class="form-control" id="surname" placeholder="Surname">
								</div>
								<div class="form-group col-md-6">
									<label for="othernames">Other Names</label>
									<input type="text" class="form-control" id="othernames" placeholder="Other Names">
								</div>
								<div class="form-group col-md-6">
									<label for="DOB">Date of Birth</label>
									<input type="text" class="form-control" id="DOB" placeholder="Date of Birth">
								</div>
								<div class="form-group col-md-6">
									<label for="POB">Place of Birth</label>
									<input type="text" class="form-control" id="POB" placeholder="Place of Birth">
								</div>
								<div class="form-group col-md-6">
									<label for="nat">Nationality</label>
									<input type="text" class="form-control" id="nat" placeholder="Nationality">
								</div>
								<div class="form-group col-md-6">
									<label for="SOO">State of orgin</label>
									<input type="text" class="form-control" id="SOO" placeholder="State of orgin">
								</div>

								<div class="form-group col-md-6">
									<label for="YOE">Year of Entry</label>
									<input type="text" class="form-control" id="YOE" placeholder="20--">
								</div>
								<div class="form-group col-md-6">
									<label for="cls">class</label>
									<input type="text" class="form-control" id="cls" placeholder="Year-">
								</div>
								<div class="form-group col-md-12">
									<div class="form-check">
										<h6 style="font-weight:400;margin-bottom: 20px;text-align: left;">Gender</h6>
										<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
										<label class="form-check-label" for="gridRadios1">
											Male
										</label> &emsp;&emsp;
										<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
										<label class="form-check-label" for="gridRadios2">
											Female
										</label>
										<br>
									</div>
								</div>
								<div class="form-group col-md-6">
									<label for="p/g">Parent/Guardian</label>
									<input type="text" class="form-control" id="p/g" placeholder="Full names">
								</div>
								<div class="form-group col-md-6">
									<label for="occ">Occupation</label>
									<input type="text" class="form-control" id="occ" placeholder="Occupation">
								</div>
								<div class="form-group col-md-6">
									<label for="address">Address</label>
									<input type="text" class="form-control" id="address" placeholder="address">
								</div>
								<div class="form-group col-md-6">
									<label for="phone">Phone Number</label>
									<input type="text" class="form-control" id="phone" placeholder="+20 xxx xxx xxxx">
								</div>
								<div class="form-group col-md-6">
									<label for="prev">Prev School(s)</label>
									<input type="text" class="form-control" id="prev" placeholder="Previous School(s)">
								</div>
								<div class="form-group col-md-6">
									<label for="phone">Email</label>
									<input type="email" class="form-control" id="phone" placeholder="youremail@domain.com">
								</div>

							</div>


							<div class="form-group">
								<div class="form-check">
									<hr>
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck">
										I accept <span class="TC-template">terms and conditions</span> and general policy
									</label>
								</div>
							</div>
							<button type="submit" class="btn btn-success">Submit</button>
						</form>

					</div>
				</div>
			</div>


			<div class="col-8" id="OverviewTab">
				<div class="row text">
					<!-- first section -->
					<h4 class="header-admission">Life At ALS</h4>
					<br>
					<p>The Junior School at Alexandria Language School in Dubai encompasses Grade 1-5, ages 6 – 10. Students in the Primary School follow the IB Primary Years Programme (PYP), a curriculum framework that is learner-centred, inquiry driven, concept-based and transdisciplinary. Our approach provides multiple points of entry for students and gives the teachers plenty of chance for small group and one-to-one facilitation. Learning through inquiry allows plenty of opportunities for personalizing learning while building the cognitive, social and emotional, and communication skills necessary for success, in school and life. Inquiry capitalizes on natural curiosity, guides activities and makes learning authentic. Our learners are busy making meaning of their world in significant, relevant, engaging and universal contexts.</p>
					<br>

					<div class="text-admission">
						<p>
							Life at ALS is full of variety and opportunities. Students enjoy a broad, challenging and holistic environment that brings together students from over 60 countries. Our lively and diverse student body plays a big part in creating the truly international experience we offer. In addition to our challenging academics, we make time for fun, teamwork and human connection. At ALS, we strive to build a community of global citizens who lead a healthy lifestyle and are respectful of others and our environment. In June 2016, our efforts to improve healthy eating, active living and a positive environment were recognised by the Knowledge and Human Development Authority in Dubai with the Happy Healthy School Award.
						</p>

					
					</div>
				</div>
			</div>
		</div>
	</div>








	<footer>

		<div class="footer">
			<div class="container">
				<div class="row footer-inner">
					<!--  first column -->
					<div class="col-sm-4">
						<h6> <strong> QUICK LINKS </strong></h6>
						<hr>
						<div class="row">
							<div class="col-xs-6 col-sm-6">
								<p><a href="">History</a> </p>
								<p><a href="">Admission Process</a> </p>
								<p><a href="">FAQ</a></p>

							</div>

							<div class="col-xs-6 col-sm-6">
								<p><a href="">Curriculum</a> </p>
								<p><a href="">Boarding</a> </p>
								<p><a href="">Plan a visit</a></p>

							</div>

						</div>
						<br>
					</div>


					<!-- second column -->
					<div class="col-sm-4 ">

						<h6><strong> CONNECT WITH US</strong></h6>
						<hr>

						<p>Follow us on social media for all latest news.</p>
						<p>Click below to connect with us</p>
						<a href="https://www.facebook.com/Alexandrialanguageschool/"> <img src="../resources/images/facebook.png" style="width:30px;height:30px;"></a>
						<a href=""> <img src="../resources/images/twitter.png" style="width:25px;height:25px;"></a>
						<a href=""> <img src="../resources/images/instagram.png" style="width:30px;height:30px;"></a>
						<a href=""> <img src="../resources/images/youtube.png" style="width:25px;height:25px;"></a>
						<p> </p>

					</div>


					<!-- third column -->
					<div class="col-sm-4">

						<h6><strong>NEWSLETTER SUBSCRIPTION</strong></h6>
						<hr>

						<form>
							<div class="form-group row">
								<div class="col-sm-9">
									<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="margin-top: 19px;"
									 placeholder="Enter email">
								</div>
								<div class="col-sm-3">
									<br>
									<button type="submit" class="btn btn-danger" style="margin-left: -15px;margin-right:5px;">Submit</button>
								</div>
								<br>
								<small id="emailHelp" class="form-text text-muted" style="margin-left: 15px;"><br>We'll never share your email
									with anyone else.</small>
							</div>
						</form>

					</div>


				</div>

			</div>
		</div>


		<div class="footeri">

			<div class="container">

				<div class="row footer-inner-inner">

					<!--  first column -->
					<div class="col-sm-8" style="text-align: left;">
						<p>Phone - <a href="tel:+20033308555">+20-03-330 85 55</a> &nbsp;
							Phone - <a href="tel:+20033307554">+20-03-330 75 54</a> &nbsp;
							Email - <a href="mailto:admin@als-schools.org">admin@als-schools.org</a> &nbsp;
							- &nbsp;<a href="">Map</a></p>

					</div>
					<!-- second column -->
					<div class="col-sm-4">
						<p style="text-align: right;">&copy;&nbsp;Alexandria Language Schools</p>
					</div>
				</div>

			</div>

		</div>


	</footer>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	 crossorigin="anonymous"></script>
	 <script src="../js/academics.js"></script>
</body>

</html>