<html>
  <head>
    <title>ALS</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" type="text/css" href="../styles/navbar.css" />
    <link rel="stylesheet" type="text/css" href="../styles/footer.css" />
    <link rel="stylesheet" type="text/css" href="../styles/tester.css" />
    <link rel="stylesheet" type="text/css" href="../styles/activities.css" />
  </head>

  <body>
    <div>
      <%- include partials/navbar %>
    </div>
    <div class="compImage"></div>

    <div class="container">
      <h3>Join ALS on their adventure</h3>
      <h5 class="quote">
        “&nbsp;&nbsp;Everybody is a genius. But if you judge a fish by its
        ability to climb a tree, it will live its whole life believing that it
        is stupid.&nbsp;&nbsp;”<br />
        ― Albert Einstein
      </h5>
    </div>
    <div class="wrapper">
      <div class="cols">
        <div
          class="col-md-4 activity"
          actId="1"
          ontouchstart="this.classList.toggle('hover');"
        >
          <div class="container">
            <div
              class="front"
              style="background-image: url(https://picsum.photos/200/300?image=1073)"
            >
              <div class="inner">
                <p>Cometition</p>
                <span>english writing</span>
              </div>
            </div>
            <div class="back">
              <div class="inner">
                <p>
                  This is a competition for best writing
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include partials/footer %>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>

    <script>
      $(".activity").click(function() {
        window.location = "/activity/" + $(this).attr("actId");
      });
    </script>
  </body>
</html>
