<html>

<head>
	<title>ALS</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->

	<link rel="stylesheet" type="text/css" href="../styles/navbar.css">
	<link rel="stylesheet" type="text/css" href="../styles/template.css">
	<link rel="stylesheet" type="text/css" href="../styles/footer.css">

</head>

<body>

	<div>
		<nav class="navbar navbar-expand-lg navbar-light navbar-design">
			<div class="TopLeftLogo">
				<div class="ALSLogo">
					<a class="navbar-brand pos-navbar" style="float:left;" href="/">
						<img src="resources/images/ALSlogo.png" style="height:80px;width:80px;padding-left: 5px;">
					</a>
				</div>
				<div class="ALSText">
					<h3 id="h-tag1">Alexandria</h3>
					<h4 id="h-tag2">Language</h4>
					<h5 id="h-tag3">School</h5>
				</div>
			</div>
			<div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
					aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse justify-content-end pos-navbar" id="navbarNavDropdown">
				<ul class="navbar-nav">

					<li class="nav-item">
						<a class="nav-link a-pad pos-navbar " href="/">Home</a>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle a-pad pos-navbar " id="navbarButton"
							href="/admission-process" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							About us
						</a>

						<div class="dropdown-menu" style="float:left;" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="/overview">Overview</a>
							<a class="dropdown-item" href="/academics">Acadamics</a>
							<a class="dropdown-item" href="/news">News</a>
							<a class="dropdown-item" href="/gallery">Gallery</a>
							<a class="dropdown-item" href="/jobs">Careers</a>

						</div>
					</li>

					<li class="nav-item">
						<a class="nav-link a-pad pos-navbar navbar-activeitem" href="/admission-process">Admission</a>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link a-pad pos-navbar" id="navbarButton" href="/resource"
							role="button" aria-haspopup="true" aria-expanded="false">
							Resources
						</a>

						<div class="dropdown-menu" style="float:left;" aria-labelledby="navbarDropdownMenuLink">
						</div>
					</li>


					<li class="nav-item">
						<a class="nav-link a-pad pos-navbar" id="navbarButton" href="/contact-us">Contact us</a>
					</li>

				</ul>
			</div>
		</nav>
	</div>

	<div class="admissionbox">
		<div class="container-fluid tempMarg" style="margin-top:10px;margin-bottom:20px;">
			<p class="admission titlenav">Admission > <span style="color:green;" id="pagingBar">Requirements </span></p>
			<h1 id="titleTab"><span id="title">Requirements </span></h1>
		</div>
	</div>



	<div class="image">

	</div>



	<div class="container-fluid" style="background:white;margin-top:20px;">


		<div class="container-fluid tempMarg">

			<div class="row box">
				<div class="col-12 tabs">
					<div class="btn-group d-flex" role="group" id="list-tab" aria-label="Basic example">
						<button type="button" class="btn btn-secondary active w-100"
							id="requirementsButton">Requirements</button>
						<button type="button" class="btn btn-danger w-100" id="admissionButton">Admission
							Process</button>
						<button type="button" class="btn btn-danger w-100" id="list-messages-list">Open
							Mornings</button>
						<button type="button" class="btn btn-danger w-100" id="applyNowButton">Apply Now</button>
						<button type="button" class="btn btn-danger w-100" id="list-settings-list">Fees</button>
					</div>
				</div>
			</div>

			<div class="col-12" id="admissionProcessTab" style="display:none;">
				<div class="row text">
					<h4 class="header-admission">Step One - Online Application</h4>
					<br>
					<h6>Please be ready to upload the following documents:</h6>
					<ul>
						<li>Copy of your child’s most recent nursery or school report (for KG1 and up)</li>
						<li>Copy of your child’s passport (first page and Visa) and Emirates ID (front and back), if
							already available</li>
						<li>Copy of both parents passports (first page and Visa) and Emirates ID (front and back), if
							already available</li>
						<li>Copy of a passport sized photograph of your child</li>
						<li>Copy of any learning difficulty diagnostic testing or educational assessment (if applicable)
							*</li>
						<li>Copy of any psychological assessments (if applicable) *</li>
						<li>Copy of custody papers (if applicable)</li>
					</ul>


					<h4 class="header-admission">Step Two - Interview and Assessment</h4>

					<ol>
						<li>Once the fully completed application with complete documents has been received,
							Admissions request confidential Teacher Recommendation from student’s
							former school for applicants G2 and above.</li>
						<li>Applicant invited to interview and assessment (Sunday through Thursday 9am to 4pm).
							Please pay the non-refundable application fee of AED 525
							(check, cash or credit card) when you come to the assessment.</li>
					</ol>

					<h4 class="header-admission">Step Three - Interview and Assessment </h4>
					<ol>
						<li>Once the fully completed application with complete documents has been received,
							Admissions request confidential Teacher Recommendation from student’s former school for
							applicants G2 and above.</li>
						<li>Applicant invited to interview and assessment (Sunday through Thursday 9am to 4pm).
							Please pay the non-refundable application fee of AED 525 (check, cash or credit card) when
							you come to the
							assessment.</li>
					</ol>
				</div>
			</div>

			<div class="col-12" id="applyNowTab" style="display:none;">
				<div class="row text">
					<div class="col-2">
						<img src="../resources/images/registration-form-top.png" class="images-open-mornings">
					</div>
					<div class="col-10">
						<h3>Registration Form</h3>
						<br>
						<a class="btn btn-success" href="#" role="button">Download form</a>
						<hr>

					</div>
					<div class="col-2">
						<img src="../resources/images/registration-form-bottom.png" class="images-open-mornings">
					</div>
					<div class="col-10">
						<h3 class="formSection">CHILD</h3>
						<form method="POST" action="/admission-process" enctype="multipart/form-data">
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="childname">Child Name</label>
									<input type="text" class="form-control" name="childname" id="childname"
										placeholder="child name" required>
								</div>
								<div class="form-group col-md-6">
									<label for="DOB">Date of Birth</label>
									<input type="date" class="form-control" name="dob" id="DOB"
										placeholder="Date of Birth" required>
								</div>
								<div class="form-group col-md-6">
									<label for="age">Age as of 1/10/<%= date %> </label>
									<input type="text" class="form-control" name="age" id="age"
										placeholder="Place of Birth" required>
								</div>
								<div class="form-group col-md-6">
									<label for="siblings">Number of siblings in School </label>
									<input type="number" class="form-control" name="siblings" id="siblings"
										placeholder="0" required>
								</div>
								<hr>
								<div class="form-group col-md-12">
									<div class="form-check">
										<h6 style="font-weight:400;margin-bottom: 20px;text-align: left;">Gender</h6>
										<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
											value="male" checked>
										<label class="form-check-label" for="gridRadios1">
											Male
										</label> &emsp;&emsp;
										<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
											value="female">
										<label class="form-check-label" for="gridRadios2">
											Female
										</label>
										<br>
									</div>
								</div>
								<div class="col-12">
									<h3 class="formSection formSectionGrand">PARENT</h3>
								</div>
								<div class="form-group col-md-6">
									<label for="p/g">Parent/Guardian</label>
									<input type="text" class="form-control" name="parent" id="p/g"
										placeholder="Full names" required>
								</div>
								<div class="form-group col-md-6">
									<label for="occ">Occupation</label>
									<input type="text" class="form-control" name="occupation" id="occ"
										placeholder="Occupation" required>
								</div>
								<div class="form-group col-md-6">
									<label for="nationality">Nationality</label>
									<input type="text" class="form-control" name="nationality" id="nationality"
										placeholder="Egyptian" required>
								</div>
								<div class="form-group col-md-6">
									<label for="address">Address</label>
									<input type="text" class="form-control" name="address" id="address"
										placeholder="address" required>
								</div>
								<div class="form-group col-md-6">
									<label for="profession">Profession</label>
									<input type="text" class="form-control" name="profession" id="profession"
										placeholder="profession" required>
								</div>
								<div class="form-group col-md-6">
									<label for="university">University Degree</label>
									<input type="text" class="form-control" name="university" id="university"
										placeholder="Bachelors" required>
								</div>
								<div class="form-group col-md-6">
									<label for="phoneNumber">Phone Number</label>
									<input type="text" class="form-control" name="phone" id="phoneNumber" required
										placeholder="+20 xxx xxx xxxx">
								</div>
								<div class="form-group col-md-6">
									<label for="email">Email</label>
									<input type="email" class="form-control" name="email" id="email" required
										placeholder="youremail@domain.com">
								</div>
								<div class="form-group col-md-6">
									<label for="profession">Father ID : </label>
									<input type="file" name="fatherID" id="fatherID" required>
								</div>
								<div class="form-group col-md-6">
									<label for="profession">University Certificate : </label>
									<input type="file" name="fatherUNI" id="uniCertificate" required>
								</div>
								<div class="col-12">
									<h3 class="formSection formSectionGrand">GRANDFATHER</h3>
								</div>
								<div class="form-group col-md-6">
									<label for="phone">Grandfather Name</label>
									<input type="grandName" class="form-control" name="grandName" id="grandName"
										placeholder="GrandFather Name">
								</div>
								<div class="form-group col-md-6">
									<label for="grandprofession"> Grandfather Profession</label>
									<input type="email" class="form-control" name="grandProfession" id="grandprofession"
										placeholder="youremail@domain.com">
								</div>
								<div class="form-group col-md-6">
									<label for="grandAddress">Address</label>
									<input type="email" class="form-control" name="grandAddress" id="grandAddress"
										placeholder="youremail@domain.com">
								</div>

							</div>
							<div>
								<hr>
								<button type="submit" class="btn btn-success">Submit</button>
							</div>
						</form>

					</div>
				</div>
			</div>


			<div class="col-12" id="requirementsTab">
				<div class="row text">
					<!-- first section -->
					<h3 class="header-admission">English language requirements</h3><br>
					<div class="text-admission">
						<p>
							Our languages department supports students coming from abroad and being new to English.
							Support is provided for
							students joining KG1 to Grade 9,
							who require assistance in English. To learn more about our English as Additional Language
							(EAL) Programme for
							Grade 6 to Grade 9, click here.
						</p>

						<p>English language requirements for our bilingual and language acquisition streams increase as
							students approach
							the IB Diploma grades.
							Please note that the below are minimal requirements for entry into grades 6 to 9.</p>

						<ul>
							<li>PreKG to G5 – students may enter as non-English speakers until mid-year in grade 5.</li>
							<li>G6 – A.2.1 Junior</li>
							<li>G7 – A.2.2 Junior</li>
							<li>G8 – B.1 Junior</li>
							<li>G9 – B.2 Junior</li>
							<li>Grades 10 to 12 – Students must be able to function independently in English.</li>
						</ul>
					</div>
					<!-- second section -->
					<h3 class="header-admission">French and German requirements for Bilingual Streams </h3>
					<div class="text-admission">
						<p>The following language proficiency levels are minimal indicative requirements
							at the start of the school year for admission to the respective bilingual grades:</p>

						<ul>
							<li>PreKG and KG1 – no specific language requirements</li>
							<li>KG2 aiming at G1 E+ – basic understanding and oral command of French or German, exposure
								to French or German
								at home</li>
							<li>KG2 aiming at G1 bilingual – oral Portfolino A.1 level, exposure to F or G at home</li>
							<li>G1 –A.1.1 Primary</li>
							<li>G2 – A.1.2 Primary</li>
							<li>G3 – A.2.1 Primary</li>
							<li>G4 – A.2.2 Primary</li>
							<li>G5 – B.1.1 Primary</li>
							<li>G6 – A.2.1 Junior</li>
							<li>G7 – A.2.2 Junior</li>
							<li>G8 – B.1 Junior</li>
							<li>G9 – B.2 Junior</li>
							<li>Grades 10 to 12 – students must be able to follow a native curriculum in either French
								or German</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>








	<%- include partials/footer %>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
	<script src="../js/admissionProcess.js"></script>
</body>

</html>