<html>

<head>
    <title>ALS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="../styles/navbar.css">
    <link rel="stylesheet" type="text/css" href="../styles/template.css">
    <link rel="stylesheet" type="text/css" href="../styles/footer.css">

</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light navbar-design">
            <div class="TopLeftLogo">
                <div class="ALSLogo">
                    <a class="navbar-brand pos-navbar" style="float:left;" href="/">
                        <img src="resources/images/ALSlogo.png" style="height:80px;width:80px;padding-left: 5px;">
                    </a>
                </div>
                <div class="ALSText">
                    <h3 id="h-tag1">Alexandria</h3>
                    <h4 id="h-tag2">Language</h4>
                    <h5 id="h-tag3">School</h5>
                </div>
            </div>
            <div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse justify-content-end pos-navbar" id="navbarNavDropdown">
                <ul class="navbar-nav">



                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle a-pad pos-navbar" id="navbarButton" href="/admission-process" id="navbarDropdownMenuLink"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About us
                        </a>

                        <div class="dropdown-menu" style="float:left;" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Overview</a>
                            <a class="dropdown-item" href="/academics">Acadamics</a>
                            <a class="dropdown-item" href="#">News</a>
                            <a class="dropdown-item" href="/gallery">Gallery</a>
                            <a class="dropdown-item" href="#">Careers</a>

                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link a-pad pos-navbar navbar-activeitem" href="/admission-process">Admission</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle a-pad pos-navbar" id="navbarButton" href="/admission-process" id="navbarDropdownMenuLink"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Resources
                        </a>

                        <div class="dropdown-menu" style="float:left;" aria-labelledby="navbarDropdownMenuLink">

                        </div>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link a-pad pos-navbar" id="navbarButton" href="/contact-us">Contact us</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <!-- Admin Page -->

    <div class="accordion" id="accordionExample" role="tablist" aria-multiselectable="true">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#newsCollapse" aria-expanded="true" aria-controls="newsCollapse">
                        <i class="far fa-edit"></i> Add News Article
                    </button>
                </h2>
            </div>

            <div id="newsCollapse" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="news-title">Heading</label>
                            <input type="text" class="form-control" id="news-title" placeholder="Enter article title">

                        </div>
                        <div class="form-group">
                            <label for="news-article">Article</label>
                            <textarea class="form-control" id="news-article" rows="6"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="news-image">Select Image</label>
                            <input type="file" class="form-control-file" id="news-image">
                        </div>
                        <button type="submit" class="btn btn-primary" style="float: right; margin-bottom: 1em;">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#manageNewsCollapse" aria-expanded="false"
                        aria-controls="manageNewsCollapse">
                        <i class="far fa-newspaper"></i> Manage News Section
                    </button>
                </h2>
            </div>
            <div id="manageNewsCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <form>
                        <div class="form-group row">
                            <label class="col-form-label col-2" for="main-article">Main Article</label>
                            <div class="col-10">
                                <select class="form-control" id="main-article">
                                    <option>Default select</option>
                                    <option>Default select</option>
                                    <option>Default select</option>
                                    <option>Default select</option>
                                </select>
                            </div>
                            <label class="col-form-label col-2" for="article-one">Article #2</label>
                            <div class="col-10">
                                <select class="form-control" id="article-one">
                                    <option>Default select</option>
                                    <option>Default select</option>
                                    <option>Default select</option>
                                    <option>Default select</option>
                                </select>
                            </div>
                            <label class="col-form-label col-2" for="article-two">Article #3</label>
                            <div class="col-10">
                                <select class="form-control" id="article-two">
                                    <option>Default select</option>
                                    <option>Default select</option>
                                    <option>Default select</option>
                                    <option>Default select</option>
                                </select>
                            </div>
                            <label class="col-form-label col-2" for="article-three">Article #4</label>
                            <div class="col-10">
                                <select class="form-control" id="article-three">
                                    <option>Default select</option>
                                    <option>Default select</option>
                                    <option>Default select</option>
                                    <option>Default select</option>
                                </select>
                            </div>
                            <label class="col-form-label col-2" for="article-four">Article #5</label>
                            <div class="col-10">
                                <select class="form-control" id="article-four">
                                    <option>Default select</option>
                                    <option>Default select</option>
                                    <option>Default select</option>
                                    <option>Default select</option>
                                    <option>Default select</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" style="float: right; margin-bottom: 1em;">Save</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>

</body>

</html>