<html>

<head>
    <title>ALS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" type="text/css" href="../styles/navbar.css">
    <link rel="stylesheet" type="text/css" href="../styles/template.css">
    <link rel="stylesheet" type="text/css" href="../styles/footer.css">

</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light navbar-design">
            <div class="TopLeftLogo">
                <div class="ALSLogo">
                    <a class="navbar-brand pos-navbar" style="float:left;" href="/">
                        <img src="resources/images/ALSlogo.png" style="height:80px;width:80px;padding-left: 5px;">
                    </a>
                </div>
                <div class="ALSText">
                    <h3 id="h-tag1">Alexandria</h3>
                    <h4 id="h-tag2">Language</h4>
                    <h5 id="h-tag3">School</h5>
                </div>
            </div>
            <div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse justify-content-end pos-navbar" id="navbarNavDropdown">
                <ul class="navbar-nav">



                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle a-pad pos-navbar" id="navbarButton" href="/admission-process" id="navbarDropdownMenuLink"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About us
                        </a>

                        <div class="dropdown-menu" style="float:left;" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/overview">Overview</a>
                            <a class="dropdown-item" href="/academics">Acadamics</a>
                            <a class="dropdown-item" href="/news">News</a>
                            <a class="dropdown-item" href="/gallery">Gallery</a>
                            <a class="dropdown-item" href="/jobs">Careers</a>

                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link a-pad pos-navbar navbar-activeitem" href="/admission-process">Admission</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle a-pad pos-navbar" id="navbarButton" href="/admission-process" id="navbarDropdownMenuLink"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Resources
                        </a>

                        <div class="dropdown-menu" style="float:left;" aria-labelledby="navbarDropdownMenuLink">

                        </div>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link a-pad pos-navbar" id="navbarButton" href="/contact-us">Contact us</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <!-- Admin Page -->

    <div class="accordion" id="accordionExample" role="tablist" aria-multiselectable="true">

        <!-- <i class="far fa-edit"></i> Add News Article -->

        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#manageNewsCollapse" aria-expanded="false"
                        aria-controls="manageNewsCollapse">
                        <i class="far fa-newspaper"></i> News Settings
                    </button>
                </h2>
            </div>
            <div id="manageNewsCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">

                <div class="card-body">

                    <form>
                        <div class="form-group row">
                            <label class="col-form-label col-2" for="main-article">Main Article</label>
                            <div class="col-10">
                                <select class="form-control" id="main-article">
                                    <option>Default select</option>
                                    <option>Default select</option>
                                    <option>Default select</option>
                                    <option>Default select</option>
                                </select>
                            </div>
                            <label class="col-form-label col-2" for="article-one">Article #2</label>
                            <div class="col-10">
                                <select class="form-control" id="article-one">
                                    <option>Default select</option>
                                    <option>Default select</option>
                                    <option>Default select</option>
                                    <option>Default select</option>
                                </select>
                            </div>
                            <label class="col-form-label col-2" for="article-two">Article #3</label>
                            <div class="col-10">
                                <select class="form-control" id="article-two">
                                    <option>Default select</option>
                                    <option>Default select</option>
                                    <option>Default select</option>
                                    <option>Default select</option>
                                </select>
                            </div>
                            <label class="col-form-label col-2" for="article-three">Article #4</label>
                            <div class="col-10">
                                <select class="form-control" id="article-three">
                                    <option>Default select</option>
                                    <option>Default select</option>
                                    <option>Default select</option>
                                    <option>Default select</option>
                                </select>
                            </div>
                            <label class="col-form-label col-2" for="article-four">Article #5</label>
                            <div class="col-10">
                                <select class="form-control" id="article-four">
                                    <option>Default select</option>
                                    <option>Default select</option>
                                    <option>Default select</option>
                                    <option>Default select</option>
                                    <option>Default select</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" style="float: right; margin-bottom: 1em;">Save</button>
                    </form>
                    <br>
                    <hr>
                    <div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newArticleModal" style="float:right;  margin-bottom: 1em;"><i
                                class="far fa-edit"></i> New Article
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#addJobPostCollapse" aria-expanded="false"
                        aria-controls="addJobPostCollapse">
                        <i class="fas fa-chalkboard-teacher"></i> Job Post Settings
                    </button>
                </h2>
            </div>
            <div id="addJobPostCollapse" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">

                <div class="card-body">
                    <div class="card">
                        <div class="card-header row" style="border-bottom: 0px">
                            <h5 class="col-6">Job Title</h5>
                            <h5 class="col-2">Start Date</h5>
                            <h5 class="col-2">End Date</h5>
                            <h5 class="col-2" style="text-align:center">Applicants Count</h5>

                        </div>
                    </div>
                    <!-- Tuple -->
                    <% jobs.forEach((job)=>{%>
                        <div class="card">
                            <div class="card-body row" style="padding: 0.35rem;">
                                <button class="btn btn-link col-6 card-text" data-toggle="modal" data-target="#jobModal" style="text-align:left"><%=job.JobTitle%>
                                </button>
                                <p class="col-2 card-text">
                                    <%=job.JobPostDate.toDateString()%>
                                </p>
                                <p class="col-2 card-text">
                                    <%=job.EndDate.toDateString()%>
                                </p>
                                <p class="col-2 card-text" style="text-align:center">X</p>

                            </div>
                        </div>
                        <%})%>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" style="margin:1rem;float:right;"><i
                                    class="fas fa-plus-circle"></i> New Job Post
                            </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modals -->
    <!-- New Article modal-->
    <div id="newArticleModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create New Job Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="card-body">
                    <form method="POST" action="/admin/new-article">
                        <div class="form-group">
                            <label for="news-title">Heading</label>
                            <input name="articleTitle" type="text" class="form-control" id="news-title" placeholder="Enter article title">

                        </div>
                        <div class="form-group">
                            <label for="news-article">Article</label>
                            <textarea name="articleText" class="form-control" id="news-article" rows="6"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="news-image">Select Image</label>
                            <input type="file" class="form-control-file" id="news-image">
                        </div>
                        <button type="submit" class="btn btn-primary" style="float: right; margin-bottom: 1em;">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- New job post modal -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create New Job Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="card-body">
                    <form method="POST" action="/admin/new-job">
                        <div class="form-group">
                            <label for="job-title">Job Title</label>
                            <input name="jobTitle" type="text" class="form-control" id="job-title" placeholder="Enter job title">

                        </div>
                        <div class="form-group">
                            <label for="job-description">Job Desciption</label>
                            <textarea name="jobDescription" class="form-control" id="job-description" rows="6"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="job-requirements">Requirements</label>
                            <textarea name="jobRequirements" class="form-control" id="job-requirements" rows="6"></textarea>
                        </div>
                        <div class="form-group row">
                            <label for="startDate" class="col-2">Start Date</label>
                            <div class="col-3">
                                <input name="jobStartDate" type="date" class="form-control-file" id="startDate">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="endDate" class="col-2">End Date</label>
                            <div class="col-3">
                                <input name="jobEndDate" type="date" class="form-control-file" id="endDate">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" style="float: right; margin-bottom: 1em;">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- New job post modals -->

    <div class="modal fade bd-example-modal-lg" id="jobModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="height: 80%; overflow-y: scroll;">

                <div class="card-body">
                    <div class="card">
                        <div class="card-header row" style="white-space: nowrap; overflow: hidden; border-bottom: 0; padding: 0.2rem;">
                            <h5 class="col-4">Name</h5>
                            <h5 class="col-4">Email</h5>
                            <h5 class="col-2">Phone</h5>
                            <h5 class="col-2">Resume</h5>

                        </div>
                    </div>
                    <!-- Tuple -->
                    <div class="card">
                        <div class="card-body row" style="white-space: nowrap; overflow: hidden; padding: 0.2rem;">
                            <p class="col-4 card-text">Omar Ali Ahmed Katary</p>
                            <p class="col-4 card-text">omar.katary@hotmail.com</p>
                            <p class="col-2 card-text">01156640400</p>
                            <button class="btn btn-link col-2 card-text" style="text-align:center">Download</button>

                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body row" style="white-space: nowrap; overflow: hidden; padding: 0.2rem;">
                            <p class="col-4 card-text">Omar Ali Ahmed Katary</p>
                            <p class="col-4 card-text">omar.katary@hotmail.com</p>
                            <p class="col-2 card-text">01156640400</p>
                            <button class="btn btn-link col-2 card-text" style="text-align:center">Download</button>

                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body row" style="white-space: nowrap; overflow: hidden; padding: 0.2rem;">
                            <p class="col-4 card-text">Omar Ali Ahmed Katary</p>
                            <p class="col-4 card-text">omar.katary@hotmail.com</p>
                            <p class="col-2 card-text">01156640400</p>
                            <button class="btn btn-link col-2 card-text" style="text-align:center">Download</button>

                        </div>
                    </div>

                </div>
            </div>
        </div>



        <!-- jQuery first, then Bootstrap JS. -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>

</body>

</html>