<!DOCTYPE html>
<html>

<head>
	<title>ALS</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="../styles/navbar.css">
	<link rel="stylesheet" type="text/css" href="../styles/template.css">
	<link rel="stylesheet" type="text/css" href="../styles/footer.css">
	<link rel="stylesheet" type="text/css" href="../styles/gallery.css">
	<link href="../dist/light-box/css/lightbox.min.css" rel="stylesheet">

</head>

<body>

	<div style="border-bottom: 3px solid red;background-color: white;">
		<nav class="navbar navbar-expand-lg navbar-light navbar-design container ">

			<a class="navbar-brand" href="/"><img src="../resources/images/ALSlogo.png" style="height:50px;width:55px;"></a>
			<div style="margin-right: -100px;">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
				 aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
				<ul class="navbar-nav">
 <li class="nav-itempos-navbar ">
				        <a class="nav-link a-pad home-navbar pos-navbar" href="/" >Home <span class="sr-only">(current)</span></a>
				      </li>

				       <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle a-pad pos-navbar"  href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          Academics
				        </a>

				        <div class="dropdown-menu" style="float:left;" aria-labelledby="navbarDropdownMenuLink">
				          <a class="dropdown-item" href="/academics">Overview</a>
                            <a class="dropdown-item" href="#">Junior</a>
                            <a class="dropdown-item" href="#">Middle</a>
                            <a class="dropdown-item" href="#">Senior</a>
				        </div>
				      </li>

                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle a-pad pos-navbar"  href="/admission-process" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Admission
                        </a>

                        <div class="dropdown-menu" style="float:left;" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="/admission-process">Requirements</a>
                            <a class="dropdown-item" href="#">Admission Process</a>
                            <a class="dropdown-item" href="#">Open Mornings</a>
                            <a class="dropdown-item" href="#">Apply Now</a>
                        </div>
                      </li>

				      <li class="nav-item">
				        <a class="nav-link a-pad pos-navbar navbar-activeitem" href="/gallery" >Gallery</a>
				      </li>

				      <li class="nav-item">
				        <a class="nav-link a-pad pos-navbar" href="/contact-us" >Contact us</a>
				      </li>

				     

				</ul>
			</div>
		</nav>
	</div>

	<div class="container">
		<div class="row box">

			<div class="col-12">
				<div class="row text">
					<h1 class="display-4 my-4 text-center text-lg-left" style="color: #800000">ALS Gallery</h1>
					<hr>

					<div class="row text-center" id="gallery">
						<!-- <div class="col-lg-3 col-md-4 col-sm-6 col-6">
							<a class="d-block mb-4 h-100 example-image-link" href="https://source.unsplash.com/pWkk7iiCoDM/400x300"
							 data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
								<img class="img-fluid img-thumbnail" src="https://source.unsplash.com/pWkk7iiCoDM/400x300" alt="">
							</a>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-6">
							<a class="d-block mb-4 h-100 example-image-link" href="https://source.unsplash.com/aob0ukAYfuI/400x300"
							 data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
								<img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
							</a>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-6">
							<a class="d-block mb-4 h-100 example-image-link" href="https://source.unsplash.com/2gYsZUmockw/400x300"
							 data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
								<img class="img-fluid img-thumbnail" src="https://source.unsplash.com/2gYsZUmockw/400x300" alt="">
							</a>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-6">
							<a class="d-block mb-4 h-100 example-image-link" href="https://source.unsplash.com/M185_qYH8vg/400x300"
							 data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
								<img class="img-fluid img-thumbnail" src="https://source.unsplash.com/M185_qYH8vg/400x300" alt="">
							</a>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-6">
							<a class="d-block mb-4 h-100 example-image-link" href="https://source.unsplash.com/sesveuG_rNo/400x300"
							 data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
								<img class="img-fluid img-thumbnail" src="https://source.unsplash.com/sesveuG_rNo/400x300" alt="">
							</a>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-6">
							<a class="d-block mb-4 h-100 example-image-link" href="https://source.unsplash.com/AvhMzHwiE_0/400x300"
							 data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
								<img class="img-fluid img-thumbnail" src="https://source.unsplash.com/AvhMzHwiE_0/400x300" alt="">
							</a>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-6">
							<a class="d-block mb-4 h-100 example-image-link" href="https://source.unsplash.com/2gYsZUmockw/400x300"
							 data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
								<img class="img-fluid img-thumbnail" src="https://source.unsplash.com/2gYsZUmockw/400x300" alt="">
							</a>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-6">
							<a class="d-block mb-4 h-100 example-image-link" href="https://source.unsplash.com/2gYsZUmockw/400x300"
							 data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
								<img class="img-fluid img-thumbnail" src="https://source.unsplash.com/2gYsZUmockw/400x300" alt="">
							</a>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-6">
							<a class="d-block mb-4 h-100 example-image-link" href="https://source.unsplash.com/8mUEy0ABdNE/400x300"
							 data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
								<img class="img-fluid img-thumbnail" src="https://source.unsplash.com/8mUEy0ABdNE/400x300" alt="">
							</a>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-6">
							<a class="d-block mb-4 h-100 example-image-link" href="https://source.unsplash.com/G9Rfc1qccH4/400x300"
							 data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
								<img class="img-fluid img-thumbnail" src="https://source.unsplash.com/G9Rfc1qccH4/400x300" alt="">
							</a>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-6">
							<a class="d-block mb-4 h-100 example-image-link" href="https://source.unsplash.com/aJeH0KcFkuc/400x300"
							 data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
								<img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aJeH0KcFkuc/400x300" alt="">
							</a>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-6">
							<a class="d-block mb-4 h-100 example-image-link" href="https://source.unsplash.com/p2TQ-3Bh3Oo/400x300"
							 data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
								<img class="img-fluid img-thumbnail" src="https://source.unsplash.com/p2TQ-3Bh3Oo/400x300" alt="">
							</a>
						</div> -->
					</div>

					<!-- https://graph.facebook.com/10156941667639653/picture?type=normal -->


				</div>
				<!-- <div class='embedsocial-album' data-ref="00377d42b9fff1a40ed50aebf83fd8999d274b5e"></div><script>(function(d, s, id){var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/embedscript/ei.js"; d.getElementsByTagName("head")[0].appendChild(js);}(document, "script", "EmbedSocialScript"));</script> -->

			</div>
		</div>
	</div>



	<footer>

		<div class="footer">
			<div class="container">
				<div class="row footer-inner">
					<!--  first column -->
					<div class="col-sm-4">
						<h6> <strong> QUICK LINKS </strong></h6>
						<hr>
						<div class="row">
							<div class="col-xs-6 col-sm-6">
								<p><a href="">History</a> </p>
								<p><a href="">Admission Process</a> </p>
								<p><a href="">FAQ</a></p>

							</div>

							<div class="col-xs-6 col-sm-6">
								<p><a href="">Curriculum</a> </p>
								<p><a href="">Boarding</a> </p>
								<p><a href="">Plan a visit</a></p>

							</div>

						</div>
						<br>
					</div>


					<!-- second column -->
					<div class="col-sm-4 ">

						<h6><strong> CONNECT WITH US</strong></h6>
						<hr>

						<p>Follow us on social media for all latest news.</p>
						<p>Click below to connect with us</p>
						<a href="https://www.facebook.com/Alexandrialanguageschool/"> <img src="../resources/images/facebook.png" style="width:30px;height:30px;"></a>
						<a href=""> <img src="../resources/images/twitter.png" style="width:25px;height:25px;"></a>
						<a href=""> <img src="../resources/images/instagram.png" style="width:30px;height:30px;"></a>
						<a href=""> <img src="../resources/images/youtube.png" style="width:25px;height:25px;"></a>
						<p> </p>

					</div>


					<!-- third column -->
					<div class="col-sm-4">

						<h6><strong>NEWSLETTER SUBSCRIPTION</strong></h6>
						<hr>

						<form>
							<div class="form-group row">
								<div class="col-sm-9">
									<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="margin-top: 19px;"
									 placeholder="Enter email">
								</div>
								<div class="col-sm-3">
									<br>
									<button type="submit" class="btn btn-danger" style="margin-left: -15px;margin-right:5px;">Submit</button>
								</div>
								<br>
								<small id="emailHelp" class="form-text text-muted" style="margin-left: 15px;"><br>We'll never share your email
									with anyone else.</small>
							</div>
						</form>

					</div>


				</div>

			</div>
		</div>


		<div class="footeri">

			<div class="container">

				<div class="row footer-inner-inner">

					<!--  first column -->
					<div class="col-sm-8" style="text-align: left;">
						<p>Phone - <a href="tel:+20033308555">+20-03-330 85 55</a> &nbsp;
							Phone - <a href="tel:+20033307554">+20-03-330 75 54</a> &nbsp;
							Email - <a href="mailto:admin@als-schools.org">admin@als-schools.org</a> &nbsp;
							- &nbsp;<a href="">Map</a></p>

					</div>
					<!-- second column -->
					<div class="col-sm-4">
						<p style="text-align: right;">&copy;&nbsp;Alexandria Language Schools</p>
					</div>
				</div>

			</div>

		</div>


	</footer>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	 crossorigin="anonymous"></script>
	<script src="../dist/light-box/js/lightbox.min.js"></script>
	<script src="../js/gallery.js"></script>

</body>

</html>