<head>
  <title>ALS</title>

  <link href="https://fonts.googleapis.com/css?family=Anonymous Pro" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Actor" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="styles/index.css" />
  <link rel="stylesheet" type="text/css" href="styles/footer.css" />
  <link rel="stylesheet" type="text/css" href="styles/indexnavbar.css" />
  <link rel="stylesheet" type="text/css" href="styles/template.css" />
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->

</head>

<body>
  <div id="image" class="">
    <div>
      <nav class="navbar navbar-expand-lg navbar-light navbar-design">
        <div class="TopLeftLogo">
          <div class="ALSLogo">
            <a class="navbar-brand pos-navbar" style="float:left;margin-right:0.8vw; " href="/">
              <img src="resources/images/ALSlogo.png" style="width:4vw;padding-left: 5px;" />
            </a>
          </div>
          <div class="ALSText">
            <h3 id="h-tag1">Alexandria</h3>
            <h4 id="h-tag2">Language</h4>
            <h5 id="h-tag3">School</h5>
          </div>
        </div>
        <div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse justify-content-end pos-navbar" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle a-pad pos-navbar" href="/admission-process" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Our School
              </a>

              <div class="dropdown-menu" style="float:left;" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/overview">Overview</a>
                <a class="dropdown-item" href="/academics">Academics</a>
                <a class="dropdown-item" href="/news">News</a>

                <a class="dropdown-item" href="/jobs">Careers</a>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link a-pad pos-navbar" href="/admission-process">Admission</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link  a-pad pos-navbar" href="/resource" role="button" aria-haspopup="true" aria-expanded="false">
                Resources
              </a>

              <div class="dropdown-menu" style="float:left;" aria-labelledby="navbarDropdownMenuLink"></div>
            </li>

            <li class="nav-item">
              <a class="nav-link a-pad pos-navbar" href="/contact-us">Contact us</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div id="UserHomePage" class="container-fluid" style="position:relative">
      <div class="row" style="margin-left: 0;margin-right: 0;">
        <div class="col-lg-12" style="padding-right: 0px;padding-left: 0px;">
          <div id="landingPage">
            <img class="logo" src="resources/images/logo.png" alt="" />
            <h1>Alexandria Language School</h1>
            <hr />
            <h4>Where Education Becomes A Passion</h4>
            <button class="btn btn-default btn-lg" id="takeATourButton">
              Take a tour
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="halfCircle container">
      <div class="halfContent">
        <a class="scrollButton downArrow" style="text-decoration: none;">Explore</a>
        <i class="fas fa-angle-down"></i>
      </div>
    </div>
  </div>
  <div class="takeTourContainer">
    <iframe class="takeTourVideo" data-src="https://www.youtube.com/embed/SqfTIr2HbZc" allowFullScreen="true"></iframe>
    <button class="btn btn-default btn-lg takeTourCloseBtn" onclick="closeVideo();">
      Close
    </button>
  </div>


  <!-- el 6 boxat -->
  <div class="container-fluid" id="landingMenu">
    <div class="paddingDiv">
      <div class="row">
        <div class="col-4 hiddenOverflow">
          <div class="image1 menuContainer" onclick="location.href='/academics';">
            <div class="buttonHeading">
              <p>Academics</p>
            </div>
          </div>
        </div>
        <div class="col-4 hiddenOverflow">
          <div class="image2 menuContainer" onclick="location.href='/admission-process';">
            <div class="buttonHeading">
              <p>Admission</p>
            </div>
          </div>
        </div>
        <div class="col-4 hiddenOverflow">
          <div class="image3 menuContainer" onclick="location.href='/news';">
            <div class="buttonHeading">
              <p>News</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 hiddenOverflow">
          <div class="image4 menuContainer" onclick="location.href='/resource';">
            <div class="buttonHeading">
              <p>Students' Resources</p>
            </div>
          </div>
        </div>
        <div class="col-4 hiddenOverflow">
          <div class="image5 menuContainer" onclick="location.href='/jobs';">
            <div class="buttonHeading">
              <p>Careers</p>
            </div>
          </div>
        </div>
        <div class="col-4 hiddenOverflow">
          <div class="image6 menuContainer" onclick="location.href='/contact-us';">
            <div class="buttonHeading">
              <p>Contact Us</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of el 6 boxat -->


  <div id="carouselExampleIndicators" class="carousel slide carouselText" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <p>
          <span id="quotationMarks">“</span> In one Month , Alexandria Language
          School has turned has turned on a love for learning in my son , which
          i thought other schools has been turning off
          <span id="quotationMarks">”</span>
        </p>
        <h3 id="quoteOwner">Parent of junior Student</h3>
      </div>

      <div class="carousel-item ">
        <p>
          <span id="quotationMarks">“</span> In one Month , Alexandria Language
          School has turned has turned on a love for learning in my son , which
          i thought other schools has been turning off
          <span id="quotationMarks">”</span>
        </p>

        <h3 id="quoteOwner">Parent of junior Student</h3>
      </div>
      <div class="carousel-item ">
        <p>
          <span id="quotationMarks">“</span> In one Month , Alexandria Language
          School has turned has turned on a love for learning in my son , which
          i thought other schools has been turning off
          <span id="quotationMarks">”</span>
        </p>
        <h3 id="quoteOwner">Parent of junior Student</h3>
      </div>
    </div>

    <div class="indicators">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>

      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="container-fluid newsStand" id="newsStand">
    <div class="row land3" align="center" style="padding-bottom:15px;">
      <div class="col-6">
        <div>
          <h3 style="font-size:40px;">What's Happening ?</h3>
        </div>
      </div>

      <div class="col-3" align="Right">
        <h3 style="text-decoration:underline;" id="new">News</h3>
      </div>
      <div class="col-3" align="left">
        <h3 id="social">Social media</h3>
      </div>
    </div>

    <!-- start -->

    <div class="row news" align="center">
      <div class="col-lg-6 col-md-12 col-sm-12" style="padding-left:3vw;">
        <!-- start Main story -->
        <div class="card mainStory shadow" style="width:100%">
          <div class="mainStoryImg"></div>

          <div class="card-body newsBody" align="left">
            <h5 class="newsDate">21 JANUARY 2019</h5>
            <h3 class="card-title newsTitle">Leading by Example</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor. Aenean massa <strong>strong</strong>.
              Cum sociis natoque penatibus et magnis dis parturient montes,
              nascetur ridiculus mus. Donec quam felis, ultricies nec,
              pellentesque eu, pretium quis, sem. Nulla consequat massa quis
              enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
              eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
              vitae, justo. Nullam dictum felis eu pede
              <a class="external ext" href="#">link</a> mollis pretium. Integer
              tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
              vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
              consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus
              in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut
              metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam
              ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
            </p>
          </div>
        </div>
        <!-- End Main Story -->
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 smallNews" style="padding-right:3vw;">
        <!-- start small stories -->
        <div class="row smallContent" align="center">
          <div class="card-deck" style="width:100%;padding-bottom:1.8vh;">
            <div class="col-6" style="padding-right:0vw;">
              <div class="card mb-2 cursor shadow" style="padding-bottom:2vh;">
                <div class="smallStory1"></div>
                <div class="card-body" align="left">
                  <p class="card-text newsDate" style="margin-top:10px;margin-bottom:0px;">
                    <small class="text-muted">15 JANUARY 2019</small>
                  </p>
                  <h3 class="card-title">Card title</h3>
                  <p class="card-text">
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum..
                  </p>
                </div>
              </div>
            </div>

            <div class="col-6" style="padding-left:0vw;">
              <div class="card mb-2 cursor shadow" style="padding-bottom:2vh;">
                <div class="smallStory2"></div>
                <div class="card-body" align="left">
                  <p class="card-text newsDate" style="margin-top:10px;margin-bottom:0px;">
                    <small class="text-muted">15 JANUARY 2019</small>
                  </p>
                  <h3 class="card-title">Card title</h3>
                  <p class="card-text">
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum..
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row smallContent" align="center">
          <div class="card-deck" style="width:100%;">
            <div class="col-6" style="padding-right:0vw;">
              <div class="card mb-4 cursor shadow" style="padding-bottom:2vh;">
                <div class="smallStory3"></div>
                <div class="card-body" align="left">
                  <p class="card-text newsDate" style="margin-top:10px;margin-bottom:0px;">
                    <small class="text-muted">15 JANUARY 2019</small>
                  </p>
                  <h3 class="card-title">Card title</h3>
                  <p class="card-text">
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est..
                  </p>
                </div>
              </div>
            </div>

            <div class="col-6" style="padding-left:0vw;">
              <div class="card mb-4 cursor shadow" style="padding-bottom:2vh;">
                <div class="smallStory4"></div>
                <div class="card-body" align="left">
                  <p class="card-text newsDate" style="margin-top:10px;margin-bottom:0px;">
                    <small class="text-muted">15 JANUARY 2019</small>
                  </p>
                  <h3 class="card-title">Card title</h3>
                  <p class="card-text">
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est..
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- end small stories -->
    </div>

    <div class="row social_tabs">
      <div class="container-fluid" style="padding-left:10vw;padding-right:10vw;">
        <div class="row">
          <div class=" col-4 col-lg-4 col-md-12 col-sm-12 " style="margin-top:30px;margin-bottom:3vw;">
            <div class=" fb-page" data-href="https://www.facebook.com/Alexandrialanguageschool/" data-width="690px" data-tabs="timeline" data-height="700" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true"
              data-show-facepile="true">
              <blockquote cite="https://www.facebook.com/Alexandrialanguageschool/" class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/Alexandrialanguageschool/">Alexandria Language School</a>
              </blockquote>
            </div>
          </div>
          <div class="col-8 col-lg-8 col-md-12 col-sm-12" style="margin-top:30px;margin-bottom:3vw;">
            <a class="twitter-timeline" data-height="40vw" href="https://twitter.com/AlsSchool?ref_src=twsrc%5Etfw">Tweets by AlsSchool</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
      </div>
    </div>

    <!-- end of newsfeed -->
  </div>

  <div class="vision row">
    <div class="col-9">
      <h2 class="redHeading">Our Vision</h2>
      <p class="visionContent">
        Our vision at Alexandria Language School is to empower students to
        acquire, demonstrate, articulate and value knowledge and skills that
        will support them, as life-long learners, to participate in and
        contribute to the global world and practise the core values of the
        school: respect, tolerance & inclusion, and excellence.
      </p>
    </div>
    <div class="col-3 eye"><i class="far fa-eye fa-9x"></i></div>
  </div>
  <div class="mission vision">
    <div class="row">
      <div class="col-3 eye"><i class="fas fa-book-open fa-9x"></i></div>

      <div class="col-9">
        <h2 class="redHeading">Our Mission</h2>
        <p class="visionContent">
          We will ensure that our students develop both the skills that a sound
          education provides and the competencies essential for success and
          leadership in the emerging creative economy. We will also lead in
          generating practical and theoretical knowledge that enables people to
          better understand our world and improve conditions for local and
          global communities.
        </p>
      </div>
    </div>
  </div>

  <!-- <iframe width="956" height="538" src="https://www.youtube.com/embed/videoseries?list=PL7u4lWXQ3wfI_7PgX0C-VTiwLeu0S4v34" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
  <div class="row class foot1" align="center">
    <div class="col-lg-12 row" style=" background: rgba(0,0,0,0.4);" align="center">
      <div class="col-lg-12" style="margin:auto; margin-bottom:10px;">
        <h1 style="text-align:center; font-family:'Oswald', sans-serif; ">
          Join our international community of learners in the heart of
          Alexandria
        </h1>
      </div>
      <div class="col-lg-12">
        <button type="button" class="btn btn-danger footbut">Facebook</button>
        <button type="button" class="btn btn-danger footbut">Twitter</button>
        <button type="button" class="btn btn-danger footbut">Newsletter</button>
      </div>
    </div>
  </div>

  <%- include partials/footer %>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <script src="/js/index.js"></script>
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js,
        fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2";
      fjs.parentNode.insertBefore(js, fjs);
    })(document, "script", "facebook-jssdk");
  </script>
</body>