<html>

<head>
  <title>ALS</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" type="text/css" href="../styles/navbar.css">
  <link rel="stylesheet" type="text/css" href="../styles/overview.css">
  <link rel="stylesheet" type="text/css" href="../styles/footer.css">

</head>

<body>

  <div>
    <nav class="navbar navbar-expand-lg navbar-light navbar-design">
      <div class="TopLeftLogo">
        <div class="ALSLogo">
          <a class="navbar-brand pos-navbar" style="float:left;" href="/">
            <img src="resources/images/ALSlogo.png" style="height:80px;width:80px;padding-left: 5px;">
          </a>
        </div>
        <div class="ALSText">
          <h3 id="h-tag1">Alexandria</h3>
          <h4 id="h-tag2">Language</h4>
          <h5 id="h-tag3">School</h5>
        </div>
      </div>
      <div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse justify-content-end pos-navbar" id="navbarNavDropdown">
        <ul class="navbar-nav">



          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle a-pad pos-navbar" id="navbarButton" href="/admission-process" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About us
            </a>

            <div class="dropdown-menu" style="float:left;" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Overview</a>
              <a class="dropdown-item" href="/academics">Acadamics</a>
              <a class="dropdown-item" href="#">News</a>
              <a class="dropdown-item" href="/gallery">Gallery</a>
              <a class="dropdown-item" href="#">Careers</a>

            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link a-pad pos-navbar navbar-activeitem" href="/admission-process">Admission</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle a-pad pos-navbar" id="navbarButton" href="/admission-process" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Resources
            </a>

            <div class="dropdown-menu" style="float:left;" aria-labelledby="navbarDropdownMenuLink">

            </div>
          </li>


          <li class="nav-item">
            <a class="nav-link a-pad pos-navbar" id="navbarButton" href="/contact-us">Contact us</a>
          </li>

        </ul>
      </div>
    </nav>
  </div>


  <div class="container-fluid mainCon" align="center">
    <div class=" paddedCon">
      <div class="container">
        <div class="row firstRow">
          <div class="col-lg-5">
            <img src="../resources/images/schoolCampusLight.jpg" alt="" style="width:100%;">
          </div>
          <div class="col-lg-7 s" align="left">
            <h3>ALS</h3>
            <p>At the forefront of education among schools in Alexandria , ALS has been providing quality education to students for more than 20 years it is independent co-educational approved by the Egyptian Ministry of Education. Kindergarten and
              Lower Junior departments are located in ALS Mandara , While the Upper Junior, Middle and Senior departments are located in ALS Seouf. The Alexandria Language School is an educational facility that provides the National curriculum
              encompassing grades pre-Kindergarten through senior school and offers the Thanaweya Amma Diploma to its candidates. At its both location campuses ALS provides a well-rounded education to approximately 3000 students. The mission of ALS
              is to provide students with the best learning environment that helps them use their maximum potentials and become responsible life-long learners

              We achieve that through a comprehensive diversified curriculum and best teaching and learning practices in a supportive community.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="sep">


    </div>





  </div>






  <footer>

    <div class="footer">
      <div class="container">
        <div class="row footer-inner">
          <!--  first column -->
          <div class="col-sm-4">
            <h6> <strong> QUICK LINKS </strong></h6>
            <hr>
            <div class="row">
              <div class="col-xs-6 col-sm-6">
                <p><a href="">History</a> </p>
                <p><a href="">Admission Process</a> </p>
                <p><a href="">FAQ</a></p>

              </div>

              <div class="col-xs-6 col-sm-6">
                <p><a href="">Curriculum</a> </p>
                <p><a href="">Boarding</a> </p>
                <p><a href="">Plan a visit</a></p>

              </div>

            </div>
            <br>
          </div>


          <!-- second column -->
          <div class="col-sm-4 ">

            <h6><strong> CONNECT WITH US</strong></h6>
            <hr>

            <p>Follow us on social media for all latest news.</p>
            <p>Click below to connect with us</p>
            <a href="https://www.facebook.com/Alexandrialanguageschool/"> <img src="../resources/images/facebook.png" style="width:30px;height:30px;"></a>
            <a href=""> <img src="../resources/images/twitter.png" style="width:25px;height:25px;"></a>
            <a href=""> <img src="../resources/images/instagram.png" style="width:30px;height:30px;"></a>
            <a href=""> <img src="../resources/images/youtube.png" style="width:25px;height:25px;"></a>
            <p> </p>

          </div>


          <!-- third column -->
          <div class="col-sm-4">

            <h6><strong>NEWSLETTER SUBSCRIPTION</strong></h6>
            <hr>

            <form>
              <div class="form-group row">
                <div class="col-sm-9">
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="margin-top: 19px;" placeholder="Enter email">
                </div>
                <div class="col-sm-3">
                  <br>
                  <button type="submit" class="btn btn-danger" style="margin-left: -15px;margin-right:5px;">Submit</button>
                </div>
                <br>
                <small id="emailHelp" class="form-text text-muted" style="margin-left: 15px;"><br>We'll
                  never share your email
                  with anyone else.</small>
              </div>
            </form>

          </div>


        </div>

      </div>
    </div>
    </div>

    <div class="footeri">

      <div class="container">

        <div class="row footer-inner-inner">

          <!--  first column -->
          <div class="col-sm-8" style="text-align: left;">
            <p>Phone - <a href="tel:+20033308555">+20-03-330 85 55</a> &nbsp;
              Phone - <a href="tel:+20033307554">+20-03-330 75 54</a> &nbsp;
              Email - <a href="mailto:admin@als-schools.org">admin@als-schools.org</a> &nbsp;
              - &nbsp;<a href="">Map</a></p>

          </div>
          <!-- second column -->
          <div class="col-sm-4">
            <p style="text-align: right;">&copy;&nbsp;Alexandria Language Schools</p>
          </div>
        </div>

      </div>

    </div>


  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>
