body
{
  background-image: white ;

}

.text-admission
{
    font-size: 14px;
}

.admissionbox
{
	background-color:white;

    padding-bottom: 20px;
}
.text{
	font-family: 'Libre Franklin','Open Sans',sans-serif;
}
.admission
{
	background-color: white;

}

.titlenav{
    margin-bottom: 0;
}
.image{
  background-repeat: no-repeat;
  background-image: url("../resources/images/adm.jpg");
  background-size: 100% 100%;
}

.container{
  max-width: 1400px;
}
#miniNavBack{
  padding-top: 10px;
  padding-bottom: 20px;

}



#title{
      line-height: 1.42857143;
      font-family: 'Libre Franklin', 'Open Sans', sans-serif;
      font-size: 38px;
      font-weight: 10px;
    color: #232323;
}

.tabs button{
  height: 60px;
}

