.navbar-design
{
	background-color:#ffffff;
	text-align: left;
}

nav
{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	background-color: transparent !important;
}
.container
{
	padding-left: 50px	!important;
	padding-right:50px !important;
}

.navbar
{
	padding-left: 0px;
}

.TopLeftLogo
{
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	border-width: 2px;
	border-left-width: 0px !important;
	border-style: solid;
	border-color: red;
	border-top-right-radius: 45px;
	border-bottom-right-radius: 45px;
	background-color: #ffffff;
	font-family: Helvetica;
	
}

#h-tag1
{	
	padding-top: 5px;
    margin-bottom: -6;
}

#h-tag2
{	
    margin-bottom: -3px;
}
#h-tag3
{
	margin-bottom: 0px;
}
nav a
{    
	top: 10px;
	position: relative;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
	font-weight:400;
	font-size: 14px;
	color: rgba(0,0,0,.5);

}

.pos-navbar
{
	top:0px;
}

.nav-item:hover 
{ 
	text-decoration: underline !important;
}

ul a 
{
	color: white !important;
	font-weight: 600  !important;
	font-size: 18px;
}

.dropdown-menu
{
	background:rgba(49,54,60,0.7);
	padding-top: 0px;
	padding-bottom: 15px;
}

ul a.dropdown-item
{
	font-size: 16px;
	
}

ul a.dropdown-item:hover
{
	background-color: #E01D2D;
	text-decoration: none;
}

ul a.dropdown-item:active
{
	background-color: #E01D2D;
	text-decoration: none;
}

.ALSText
{
	color:black !important;
	float: left;
	padding-right: 20px;
}

.a-pad
{
	padding-left: 40px !important;
	font-size: 16px !important;
}
.navbarbrand-navs
{
	margin-bottom: 5px;
	padding-bottom: 0px;
	padding-top: 0px;top: 0px;
	margin-top: 5px;
}
.pad
{
	padding-left: 50px;
}

