.navbar-design
{
	background-color:#ffffff;
	text-align: left;
}

nav
{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	background-color: transparent !important;
}
.container
{
	padding-left: 50px	!important;
	padding-right:50px !important;
}

.navbar
{
	padding-left: 0px;
}
.navbar-nav{

}

.TopLeftLogo
{
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	border-width: 2px;
	border-left-width: 0px !important;
	border-style: solid;
	border-color: red;
	border-top-right-radius: 52px;
	padding-top: 8px;
	padding-right: 6px;
	padding-bottom: 8px;
	border-bottom-right-radius: 52px;
	background-color: #ffffff;



}

#h-tag1
{
	padding-top: 5px;
	font-weight: bold;
    margin-bottom: -6;
}

#h-tag2
{
		font-weight: bold;
    margin-bottom: -3px;
}
#h-tag3
{
		font-weight: bold;
	margin-bottom: 0px;
}

#navbarNavDropdown{
	padding-right: 50px;

}
nav a
{
	top: 10px;
	position: relative;

font-family: 'Libre Franklin','Open Sans',sans-serif;
    line-height: 1.42857143;


}

.pos-navbar
{
	top:0px;
}

.nav-item:hover
{
	text-decoration: underline !important;
}

ul a
{
	color: white !important;
	font-weight: 600  !important;

}

.dropdown-menu
{
	background:rgba(49,54,60,0.7);
	padding-top: 0px;
	padding-bottom: 15px;
}

ul a.dropdown-item
{
	font-size: 1vw;

}

ul a.dropdown-item:hover
{
	background-color: #E01D2D;
	text-decoration: none;
}

ul a.dropdown-item:active
{
	background-color: #E01D2D;
	text-decoration: none;
}

.ALSText
{
	color:black !important;
	float: left;
	margin-top:auto;
	margin-bottom: auto;
	padding-right: 1vw;
}

.a-pad
{
	padding-left: 60px !important;
	font-size: 1.2vw !important;
}
.navbarbrand-navs
{
	margin-bottom: 5px;
	padding-bottom: 0px;
	padding-top: 0px;top: 0px;
	margin-top: 5px;
}
.pad
{
	padding-left: 50px;
}
