


.navbar-design
{
	background-color:#ffffff;
	text-align: left;
	border-bottom: 2px solid red;
}

.navbar-activeitem
{
	color: red !important;
	font-weight: bold !important;
}

.dropdown-menu
{
	background:rgba(49,54,60,0.7);
	padding-top: 0px;
	padding-bottom: 15px;
}

ul a.dropdown-item
{
	font-size: 16px;
	color: white;

}

ul a.dropdown-item:hover
{
	background-color: #E01D2D;
	text-decoration: none;
	color: white;
}

ul a.dropdown-item:active
{
	background-color: #E01D2D;
	text-decoration: none;
}
.navbar-nav{
	margin-right: 50px;
}
.TopLeftLogo
{
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	margin-left: 80px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #ffffff;
}

#h-tag1
{
	padding-top: 5px;
	font-weight: bold;
    margin-bottom: -5px;
}

#h-tag2
{
	font-weight: bold;
    margin-bottom: -2px;
}
#h-tag3
{
	font-weight: bold;
	margin-bottom: 0px;
}


nav
{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

#navbar a
{
	font-weight:bold;
	font-size: 12px;

}

ul a.dropdown-menu:hover {
	 color: white !important;
	}

#navbarButton:hover
{
	color: #E01D2D !important;
}

.a-pad
{
	padding-left: 60px !important;
	font-size: 18px !important;

}

#navbarNavDropdown{
	margin-right: 50px;
}


.pad
{
	padding-left: 50px;


}
