.newsCard {
    margin: 20px;
    background-color: #b23e3e;
    border: 2px solid #b30000;
    color: white;
    height: 150px;
    border-radius: 6px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.newsCard img {
    display: inline-block;
    margin-left: 10px;
    margin-right: auto;
    max-width: 300px;
    max-height: 140px;
    vertical-align: middle;
    border-radius: 6px;
}

.newsCard h3 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
    overflow: hidden;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.rotateNews:hover .newsCard {
    transform: rotateY(180deg);
    cursor: pointer;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
    font-weight: bold;
}

.back {
    background-color: #b30000;
    color: white;
    transform: rotateY(180deg);
    z-index: 1;
}