body{

}
.mainCon{
  min-height: 100%;

}

.paddedCon{
  width:100%;
  margin-bottom: 100px;
  background: white;
}

.firstRow{
  padding-top: 100px;
  background: transparent;
}

.d{
  background-image: url("/resources/images/tiles2.png");
  background-repeat: repeat;

}

#quotationMarks
{
    color: red;
    font-size: 55px;

}

.a{
  color: black;


    font-size: 2.2vw;
  font-family: "Lora" !important;
     font-style: italic;
}
.s h3{
  color: red;
font-size: 1.5vw;
line-height: 26px;
font-family: sourceSans;
font-weight: Normal;
font-style: Normal;
margin: 0;
padding: 0;
}

.sep {
    height: 2px;
    border-top: 3px dotted #dadada;

    margin-left: auto;
    margin-right: auto;
}
.foot1{
  background-image: url("../resources/images/footimg.jpg");
  height: 40%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.foot2{
  background-image: url("../resources/images/students.jpg");
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;


}
