body
{
	background-image: white;
}

.pad
{
	padding-left: 50px;

}

.gmap_canvas iframe{
	width: 100%;
	height:450px;
}
.image
{
	width: 100%;
	height:500px;
	background-attachment: fixed;
}
.container
{
	padding: 0 0 !important;
}
.admissionbox
{
	background-color:white;
	padding-top: 10px;
	padding-bottom: 1px;
}
.text{
	font-family: 'Libre Franklin','Open Sans',sans-serif;
}
.admission
{
	background-color: white;
}

.box
{
	margin-top: 40px;

}

.academicsBox
{
	padding-top: 10px;
}

.header-admission
{
    color: red;
}


.TC-template
{
	color: green;
}

.images-open-mornings
{
	height:50px;
	width:50px;
	margin-right: 70px;
}

input[type=radio]
{
	transform: scale(1.5);
}
.gender-registration-form
{
	font-weight:400;margin-bottom: 20px;
	text-align: left;
}
.list-group-item.active {
	background-color: green ;
	border-color: green;
}
.list-group-item:hover{
	cursor: pointer;

}

.text
{
	background-color: white;
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 40px;
}

.logos img
{
	height: 30px;
	width: 30px;
}

hr
{
	margin-top: 30px;
	margin-bottom: 20px;
}

.formSection
{
	padding-bottom: 20px;
	letter-spacing: 1.5px;
	color:#dc3545;
}

.formSectionGrand
{
	padding-top: 20px;
}
.list-group-item.active
{
	color : white !important;
}
body
{
  background-image: white ;

}

.text-admission
{
    font-size: 14px;
}

.admissionbox
{
	background-color:white;
	/* padding-bottom: 20px; */
}
.text{
	font-family: 'Libre Franklin','Open Sans',sans-serif;
}
.admission
{
	background-color: white;

}

.titlenav{
    margin-bottom: 0;
}
.image{
  background-repeat: no-repeat;
  background-image: url("../resources/images/adm.jpg");
  background-size: 100% 100%;
}

.tempMarg{
	padding-left: 150px;
	padding-right: 150px;
}
#miniNavBack{
  padding-top: 10px;
  padding-bottom: 20px;

}



#title{
      line-height: 1.42857143;
      font-family: 'Libre Franklin', 'Open Sans', sans-serif;
      font-size: 38px;
      font-weight: 10px;
    color: #232323;
}

.tabs button{
  height: 60px;
}

.holds-the-iframe{
	background:url(/resources/images/ajax-loader.gif) center center no-repeat;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 20%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}